<!DOCTYPE HTML>
<html data-ng-app="characterBuilderApp">
  <head>
    <title>13th Age Character Builder</title>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body data-ng-controller="CharacterBuilderCtrl">

    <h1>13th Age Character Builder</h1>

    <label>Character name: <input type="text" data-ng-model="character.characterName"></label>
    <label>Player name: <input type="text" data-ng-model="character.playerName"></label>
    <label>One Unique Thing: <textarea data-ng-model="character.oneUniqueThing"></textarea></label>

    <h4>Debug:</h4>
    <p id="debugOutput">{{ debugContent }}</p>
    <div>
      <label>Load character <input type="file" id="files" name="files[]" data-on-read-file="loadCharacter($fileContent)" /></label>
    </div>
    <button type="button" data-ng-click="saveCharacter()">Save Character</button>
  </body>
</html>

